{{!-- Navigation Bar --}}

    <nav class="uk-navbar-container uk-navbar-transparent uk-navbar uk-navbar-right">
        <div class="uk-navbar-right" id="navBar">

            {{!-- Logo Header--}}
            <div class="uk-container uk-container-small">
                {{!-- <div class="centered"> --}}
                    <div class="uk-background-container" id="logo">
                        <img src="/images/berm_logo_description_co.png">
                    </div>
                </div>

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="/"><i class="fas fa-home" style="font-size:1.5em"></i>Home</a></li>

                    <li class="uk-active"><a href="https://www.imba.com/ride/for-women" target="_blank"><i class="fas fa-hands-helping" style="font-size:1.5em"></i>Get Engaged</a></li>

                    <li class="uk-active"><a href="https://www.femmecyclist.com/womens-mountain-bike-clinics-camps/" target="_blank"><i class="fas fa-user-friends" style="font-size:1.5em"></i>Find Your Posse</a></li>

                    <li class="uk-active"><a href="https://totalwomenscycling.com/mountain-biking/12-coolest-female-riders-follow-instagram" target="_blank"><i class="fas fa-hashtag" style="font-size:1.5em"></i>Featured Riders</a></li>

                </ul>

            </div>
    </nav>