<!DOCTYPE>
<html>

    <head>
        <title>The Berm</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Noto+Sans+TC" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit-core-rtl.css" />
        <link rel="stylesheet" href="css/uikit.min.css" />
        <script src="js/uikit.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Noto+Sans+TC" rel="stylesheet">
        
        <link rel="stylesheet" href="/styles/styles.css">
    </head>

<body>
  {{{body}}}
    {{> something}}
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../../public/js/index.js"></script>

</body>

</html>
