{{>navbar}}
<div class="uk-container" id="item-container">
    <div class="uk-card-secondary uk-card-small">
        <div class="uk-card-body" id="listingBody">
        </div>
    </div>
</div>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

    $(document).ready(function() {

  
    $.get("/api/bikes", function getBikes() {

    }).then(function(data) {
      console.log(data);

        //for each bike that the server sends us back
        for (var i = 0; i < data.length; i++) {
          var listingBody = $("<div>");
        listingBody.addClass("uk-card");
        listingBody.attr("id", "listing" + i);
        $("#listingBody").append(listingBody);

        //add listing data to card we just placed on the page
          // make the name an h2,
        $("#listing" + i).append("<h2>" + data[i].item_name + "</h2>");
          // the price an h3,
        $("#listing" + i).append("<h3>" + "$ " + data[i].item_price + "</h3>");
        // the category an h3,
        $("#listing" + i).append("<h3>" + "Category: " + data[i].item_category + "</h3>");
          // and the createdAt an h3.
          $("#listing" + i).append("<h3>" + data[i].createdAt + "</h3>");
          console.log(listingBody);
      }
      });

    //test to see button is live
    console.log("button was clicked!");
  });
</script>
