{{!-- Navigation Bar --}}

    <nav class="uk-navbar-container uk-navbar-transparent uk-navbar">
        <div class="uk-navbar-right" id="navBar">

            {{!-- Logo Header--}}
            <div class="uk-container uk-container-small">
                {{!-- <div class="centered"> --}}
                    <div class="uk-background-container" id="logo">
                        <img src="/images/berm_logo_description_co.png">
                    </div>
                </div>

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="http://localhost:3000/"><i class="fas fa-home" style="font-size:1.5em"></i>Home</a></li>

                    <li class="uk-active"><a href="https://www.imba.com/ride/for-women" target="_blank"><i class="fas fa-hands-helping" style="font-size:1.5em"></i>Get Engaged</a></li>

                    <li class="uk-active"><a href="https://www.femmecyclist.com/womens-mountain-bike-clinics-camps/" target="_blank"><i class="fas fa-user-friends" style="font-size:1.5em"></i>Find Your Posse</a></li>

                    <li class="uk-active"><a href="https://totalwomenscycling.com/mountain-biking/12-coolest-female-riders-follow-instagram" target="_blank"><i class="fas fa-hashtag" style="font-size:1.5em"></i>Featured Riders</a></li>

                </ul>

            </div>
    </nav>
    <br>

    {{!-- Post Your Gear Button to Modal with Form --}}
    <div class="container">

        {{!-- Full width Image --}}
        <img src="images/berm-01.png" width="100%" alt="mountain-biking" uk-img>

        {{!-- button to display modal and post new item --}}
        <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modalSelector"
            id="modalBtn">Post
            Your Gear</button>


        <div id="modalSelector" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Post Your Gear</h2>

                {{!-- Form section --}}
                <form id="postForm" method="POST">
                    <fieldset class="uk-fieldset">

                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder=" Item Description" id="itemName">
                        </div>

                        <div class="uk-margin">
                            <input class="uk-input uk-form-width-small" type="text" placeholder=" Price ($)" id="itemPrice">
                        </div>

                        <div class="uk-margin">
                            <div class="uk-form-file"><input type="file" id="itemImage"></div>
                        </div>

                        <div class="form-group">
                            <label for="itemCategory">Select Category: </label>
                            <select class="custom-select" id="itemCategory">
                                <option value="bikes">Bikes</option>
                                <option value="apparel">Apparel</option>
                                <option value="parts">Parts</option>
                                <option value="accessories">Accessories</option>
                            </select>
                        </div>


                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder=" Email Address" id="sellerEmail">
                        </div>

                    </fieldset>
                </form>

                {{!-- Cancel or Post buttons --}}
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button id="postBtn" class="uk-button uk-button-primary uk-modal-close" type="button">Post</button>
                </p>
            </div>
        </div>

        {{!--Modal for missing info--}}
        <div id="needInput" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">! Missing Information !</h2>
                <p>Please Fill Out Each Field Before Submitting Your Post</p>
                <p class="uk-text-right"></p>
                <button class="uk-modal-close-default" type="button" uk-close></button>
            </div>
        </div>
    </div>

    {{!-- Buttons to gear for sale --}}
    <div class="uk-container uk-container-large uk-align-center">
        <h2>CURRENT ITEMS FOR SALE</h2>
        <div id="button-grid uk-align-center" style="text-align:center" uk-grid>
                <button class="uk-button uk-button-default uk-margin-small-right" type="button" id="allBtn"><a href="/all">ALL ITEMS</a></button>
                <button class="uk-button uk-button-default uk-margin-small-right" type="button" id="bikeBtn"><a href="/bikes">Bikes</a></button>
                <button class="uk-button uk-button-default uk-margin-small-right" type="button" id="accessoriesBtn"><a
                        href="/accessories">Parts/Accessories</a></button>
                <button class="uk-button uk-button-default uk-margin-small-right" type="button" id="apparelBtn"><a href="/apparel">Apparel</a></button>
                
            </div>
        </div>
    </div>
    </div>

    <hr>
