.list-group-item {
  line-height: 2.5;
}

a {
  color: #8000ff;
}

#item-container {
  border: 3px solid #8000ff;
  padding: 40px;
}

h2 {
  color: black;;
  font-weight: 700;
  font-family: 'Noto Sans TC', sans-serif;
}

.uk-button:not(:disabled) {
  align-content: center;
  margin-bottom: 10px;
  font-family: 'Noto Sans TC', sans-serif;
  border-radius: 25px;
  border: 1px solid #8000ff;
}

.sellerBtn {
  align-content: center;
  margin-bottom: 10px;
  font-family: 'Noto Sans TC', sans-serif;
  border-radius: 25px;
  border: 1px solid #8000ff;
}

.centered {
  position: absolute;
  font-size: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 0.75rem #000);
}

button {
  align-content: center;
  margin: 0 auto;
  background-color: #8000ff;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
  border-radius: 25px;
  width: 23%;
  padding: 1px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

#buttons{
  align-content: center;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
#modalBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-140%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: lightgrey;
  color: #8000ff;
  font-size: 16px;
  border: 1px solid #8000ff;
  cursor: pointer;
}

.container .btn:hover {
  background-color: black;
}

.uk-card {
  padding: 20px;
  margin: 20px;
}